.modify-group-panel{
    width: 100%;
    padding: 20px;
    align-self: stretch;
    margin: 0px 20px;
    flex: 1;
}

.modify-group-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modify-button-group{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.modify-button-group > *{
    flex: 1;
    margin-right: 10px;
}

.modify-group-svg{
    flex: 1;
    display: none;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .modify-group-container{
       align-items: center;
    }

    .modify-button{
        width: 75px;
    }

    .modify-group-svg{
        display: flex;
    }
}


/* @media screen and (max-width: 1440px){
    .modify-button-group{
        flex-direction: column;
    }

    .modify-button-group > *{
        margin: 0px;
        margin-bottom: 10px;
    }
}
    
@media screen and (max-width: 768px){
    .modify-button-group{
        flex-direction: row;
    }   

    .modify-button-group > *{
        flex: 1;
        margin: 0px 10px;
    }
} */