.progress-line-chart-panel{
    width: 100%;
    padding: 20px;
    margin: 0px 20px;
}

.progress-line-chart-content{
    display: flex;
    align-items: center;
}

.progress-line-chart-plot{
    margin-top: 20px;
    background-color: #1b1d23;
    padding: 5px;
    border-radius: 5px;
}

.no-plot{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.custom-tooltip{
    padding: 10px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    background: #fff;
    color: #000
}

.review-sessions-detail{
    display: flex;
    flex-direction: column;
    
}

.review-session{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

@media screen and (max-width: 425px){
    .progress-line-chart-panel{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .progress-line-chart-content{
        justify-content: center;
    }
}