.home-top-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .home-top-container{
        flex-direction: column;
    }
}