.home-container{    
    width: calc(100vw - 50px);
    display: flex;
    flex-direction: column;
}

.home-intro-container{
    display: flex;
    margin-top: 20px;
}

.home-chart-container{
    display: flex;
    margin-top: 20px;
}

.home-table-container{
    display: flex;
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .home-intro-container{
        flex-direction: column;
        margin-right: 40px;
    }
}