.goal-table-panel{
    width: 100%;
    padding: 20px;
    margin: 0px 20px;
}

.goal-table-content{
    display: flex;
}

.goal-table-container{
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .goal-table-content{
        justify-content: center;
    }
}