.goal-process{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    padding: 20px;
}

.goal-process-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.goal-process-item{
    width: 100%;
    flex: 1;
}

.border-top::before{
    content: '';
    display: block;
    width: 60%;
    border-top: 1px solid;
    margin: auto;
}

.goal-process-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.goal-name{
    font-size: 1.5em;
    font-weight: 600;
}

.user-value{
    font-size: 2.2em;
    font-weight: 600;
    position: relative;
    bottom: 5px;
}

.left-slash{
    font-size: 2.3em;
}

.goal-value{
    font-size: 2.5em;
    font-weight: 600;
    position: relative;
    top: 5px;
}

.goal-process-bar{
    width: 60%;
    margin-top: 20px;
}

.mt-20{
    margin-top: 20px;
}

@media screen and (max-width: 768px){
    .goal-process{
        text-align: center;
    }

    .goal-process-container{
        flex-direction: column;
        margin-right: 40px;
    }

    .mt-20-768{
        margin-top: 20px;
    }

    .mb-20-768{
        margin-bottom: 20px;
    }

    .border-top-768::before{
        content: '';
        display: block;
        width: 60%;
        border-top: 1px solid;
        margin: auto;
    }
}