.bottom-nav-container{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.bottom-nav{
    display: flex;
    justify-content: space-around;
}

.bottom-nav > *{
    width: 100%;
    text-align: center;
}